<app-header></app-header>
<div class="fotoBack">
	<div class="container full d-flex justify-content-center align-items-center">
		<div class="row justify-content-center">
			<div class="col">
				<div class="card bg-dark text-white border-dark">
					<div class="card-top text-center mt-3">					
					</div>
					<div class="card-body p-4">
						<div class="row d-flex justify-content-center align-items-center">
							<div class="col">
								<h1>Registro</h1>
								<br>
								<form [formGroup]="formularioRegistro" (ngSubmit)="signup()">
									<div class="input-group">
										<label for="campoNombreRealUsuario">Nombre</label>
										<input type="username" class="form-input" id="name"
											aria-describedby="userRealNameHelp"
											placeholder="Ej: Juan" formControlName="name">

										<div *ngIf="formularioRegistro.get('nombreRealUsuario')?.touched && formularioRegistro.get('nombreRealUsuario')?.errors?.['required']"
											class="errorCualquiera">Este campo es obligatorio
										</div>
									</div>

									<div class="input-group">
										<label for="campoNombreUsuario">Nombre de usuario</label>
										<input type="username" class="form-input" id="username"
											aria-describedby="userNameHelp"
											placeholder="Ej: namecito" formControlName="username">
										<div *ngIf="formularioRegistro.get('nombreUsuario')?.touched && formularioRegistro.get('nombreUsuario')?.errors?.['required']"
											class="errorCualquiera">Este campo es obligatorio
										</div>
									</div>



									<div class="input-group">
										<label for="campoEdad">Edad</label>
										<input type="text" class="form-input" id="age"
											aria-describedby="ageHelp"
											placeholder="Ej: 21" formControlName="age">
										<div *ngIf="formularioRegistro.get('edad')?.touched && formularioRegistro.get('edad')?.errors?.['required']"
										class="errorCualquiera">Este campo es obligatorio
										</div>	
										<div *ngIf="formularioRegistro.get('edad')?.touched && formularioRegistro.get('edad')?.errors?.['pattern']"
											class="errorCualquiera">Ingrese una edad valida, entre 0 y 120
										</div>
									</div>

									<div class="input-group">
									<label for="campoCorreoElectronico">Correo electronico</label>
									<input type="email" class="form-input" id="email"
									       aria-describedby="emailHelp"
									       placeholder="Ej: nombre@correo.com" formControlName="email">
									<div *ngIf="formularioRegistro.get('correo')?.touched && formularioRegistro.get('correo')?.errors?.['required']"
									     class="errorCualquiera">Este campo es obligatorio
									</div>
									<div *ngIf="formularioRegistro.get('correo')?.touched && formularioRegistro.get('correo')?.errors?.['pattern']"
									     class="errorCualquiera ">Este campo debe tener formato de correo
									</div>
									</div>

									<div class="input-group">
									<label for="campoContraseña">Contraseña</label>
									<input type="password" class="form-input" id="campoContraseña"
									       placeholder="**********"
									       formControlName="password">
									<div *ngIf="formularioRegistro.get('password')?.touched && formularioRegistro.get('password')?.errors?.['required']"
									     class="errorCualquiera">Este campo es obligatorio
									</div>
									<div *ngIf="formularioRegistro.get('password')?.touched && formularioRegistro.get('password')?.errors?.['pattern']"
									     class="errorCualquiera">
										 <p class = "text-justify">La contraseña debe como minimo una letra, un numero
											y 6 caracteres</p>
									</div>
								</div>
									<div class="obl">
										<p>Todos los campos son obligatorios</p>
									</div>	
									<button class="sign"  [disabled]="!formularioRegistro.valid" type="submit">Registrarse</button>
								</form>

							</div>
						</div>
						<hr class="my-2 d-inline-block mx-auto"
						    style="width: 100%; background-color: #411a1a; height: 2px"/>
						<div class="row">
							<div class="col">
								<div class="text-center">
									<p class="signup">¿Ya tienes cuenta?
										<a type="button"  [routerLink]="['/Login']">Iniciar sesión</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


