<app-header></app-header>
<div class = "container py-5">
    <div class = "row">
        <div class = "col">
                <h1 class = "fw-bolder text-center">MAQUINAS</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <p class = "text-center fw-bolder">Estas son las maquinas mas comunes que podrás encontrar en un gimnasio.</p>
        </div>
    </div>
    <hr class="mb-4 mt-0 d-inline-block mx-auto"
    style="width: 100%; background-color: #09006d; height: 2px"/>
</div>

<app-footer></app-footer>
