.tamaño-foto{
    height: 25rem;
    width: 50rem;
}

@media (max-width: 1200px) {
    .tamaño-foto{
        height: 20rem;
        width: 40rem;
    }
}

@media (max-width: 768px) {
    .tamaño-foto{
        height: 20rem;
        width: 30rem;
    }
}

@media (max-width: 576px) {
    .tamaño-foto{
        height: 15rem;
        width: 20rem;
    }
}
@media (max-width: 320px) {
    .tamaño-foto{
        height: 13rem;
        width: 15rem;
    }
}
.tamaño-letra{
    font-size: 25px;
}


.carta{
    width: 25rem;
    height: 900px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
    
  }
  .carta:hover{
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  