/* You can add global styles to this file, and also import other style files */
$custom: rgba(0, 0, 0, 0.752);
$danger: rgba(110, 110, 113, 0.718);
$custom1: #e6e6e6bd;
$font-family-sans-serif: 'Montserrat', sans-serif;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

